@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Oswald:700|Alfa+Slab+One);
/* line 4, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, input/header.scss */
header {
  background: #7BCAE8;
  background-size: 120% auto;
  background-position-x: -20px;
  background-repeat: repeat;
  /*
  	background-image: url("blue-abstract.jpg");
  // 	background-size: 800px 200px;
  */
  vertical-align: middle; }
  @media screen and (min-width: 601px) {
    /* line 1, input/header.scss */
    header {
      width: 100%;
      text-align: center;
      padding-top: 0;
      position: fixed;
      top: 0;
      z-index: -1;
      height: 200px; } }
  @media screen and (max-width: 600px) {
    /* line 1, input/header.scss */
    header {
      width: 100%;
      text-align: center;
      padding-top: 0;
      position: fixed;
      top: 0;
      z-index: 200;
      height: 100px; } }
  /* line 29, input/header.scss */
  header img {
    height: auto; }
    @media screen and (min-width: 601px) {
      /* line 29, input/header.scss */
      header img {
        max-width: 100px; } }
    @media screen and (max-width: 600px) {
      /* line 29, input/header.scss */
      header img {
        max-width: 80px; } }
    @media screen and (min-width: 950px) {
      /* line 29, input/header.scss */
      header img {
        max-width: 130px; } }
  @media screen and (max-width: 600px) {
    /* line 52, input/header.scss */
    header h1 {
      margin-top: 10px;
      text-align: center;
      font-family: "Alfa Slab One", cursive;
      font-size: 2em;
      color: white;
      letter-spacing: 2px;
      text-shadow: 3px 3px 1px #1a7496; } }
  @media screen and (min-width: 601px) {
    /* line 52, input/header.scss */
    header h1 {
      text-align: center;
      font-family: "Alfa Slab One", cursive;
      font-size: 3em;
      color: white;
      letter-spacing: 2px;
      text-shadow: 3px 3px 1px #1a7496; } }
  @media screen and (min-width: 950px) {
    /* line 52, input/header.scss */
    header h1 {
      text-align: center;
      font-family: "Alfa Slab One", cursive;
      font-size: 3.8em;
      color: white;
      letter-spacing: 2px;
      text-shadow: 3px 3px 1px #1a7496; } }
  /* line 88, input/header.scss */
  header p {
    font-family: "Arvo", serif;
    font-weight: 400; }
    @media screen and (max-width: 600px) {
      /* line 88, input/header.scss */
      header p {
        font-size: 1em;
        line-height: .8em;
        position: relative;
        bottom: 5px; } }
    @media screen and (min-width: 601px) {
      /* line 88, input/header.scss */
      header p {
        font-size: 1.0em;
        line-height: .8em;
        /*
        		position: relative;
        		bottom: 3px;								
        */ } }
    @media screen and (min-width: 601px) {
      /* line 88, input/header.scss */
      header p {
        font-size: 1.4em;
        line-height: .8em;
        position: relative;
        top: 2px; } }

/*
}

h1.headline {
	margin-top: 0;
	text-align: center;
	font-family: $headline-font;
	font-size: 2em;


}
*/
@media screen and (max-width: 600px) {
  /* line 129, input/header.scss */
  .desc_div {
    display: none; } }

/* line 1, input/background.scss */
body {
  background-color: white; }

/* line 5, input/background.scss */
section.pic {
  z-index: -300; }

/* line 10, input/background.scss */
.test {
  width: 100%;
  height: 1000px;
  min-width: 400px;
  min-height: 600px;
  background-image: url("music1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -300;
  position: fixed; }

/* line 1, input/navigation.scss */
section.navigation {
  z-index: 400; }
  @media screen and (min-width: 601px) {
    /* line 1, input/navigation.scss */
    section.navigation {
      position: relative;
      background-color: white;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); } }
  @media screen and (max-width: 600px) {
    /* line 1, input/navigation.scss */
    section.navigation {
      position: fixed;
      margin: 10px 0 0 0;
      top: 90px;
      width: 100%;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      background-color: white; } }

/*
section.navigation_scrolled{
	position: fixed;
	width: 100%;
	z-index: 300;
	margin: 0;
	padding: 0;
	margin-top: 180;
	top: 0;

}
*/
/* line 36, input/navigation.scss */
.date_select_div {
  height: 50px;
  width: 100%; }
  @media screen and (max-width: 600px) {
    /* line 36, input/navigation.scss */
    .date_select_div {
      height: 30px; } }

/* .myMenu is the class for the whole menu */
/* line 45, input/navigation.scss */
.myMenu {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 2em;
  font-family: "Arvo", serif;
  font-weight: 400;
  color: white;
  background-color: #7BCAE8; }

/* li is the top level box, the first one you see */
/* line 57, input/navigation.scss */
li {
  width: 100%;
  list-style: none;
  float: left;
  font: 12px Arial, Helvetica, sans-serif #111;
  /* li ul is the container for the boxes that come out when the top box is expanded */ }
  /* line 62, input/navigation.scss */
  li a:link, li a:visited {
    display: block;
    text-decoration: none;
    background-color: #50b9e0;
    padding: 0.5em 2em;
    margin: 0;
    border-right: 1px solid #fff;
    color: #111; }
    @media screen and (max-width: 600px) {
      /* line 62, input/navigation.scss */
      li a:link, li a:visited {
        padding: 12px 0px 7px 10px;
        font-size: 1em; } }
    @media screen and (max-width: 600px) {
      /* line 62, input/navigation.scss */
      li a:link, li a:visited {
        padding: 0.1em; } }
  /* line 80, input/navigation.scss */
  li ul {
    width: 100%;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid #fff;
    margin: 0;
    padding: 0; }
    /* line 87, input/navigation.scss */
    li ul li {
      display: inline;
      float: none; }
      /* line 90, input/navigation.scss */
      li ul li a:link, li ul li .myMenu li ul li a:visited {
        background-color: #7BCAE8;
        width: auto; }

/* line 99, input/navigation.scss */
.myMenu li ul li a:link, .myMenu li ul li a:visited {
  background-color: #7BCAE8;
  width: auto; }

/* line 104, input/navigation.scss */
.myMenu li ul li a:hover {
  background-color: #2296c2; }

/* line 115, input/navigation.scss */
.filters {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10px; }
  /* line 20, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  .filters::after {
    clear: both;
    content: "";
    display: table; }

/* line 123, input/navigation.scss */
.band_btn, .count_basin_button, .performer_pick_button {
  font-size: 1.1em;
  color: white;
  background-color: #50b9e0;
  border: 1 pt;
  border-radius: 3px;
  border-style: solid;
  padding: 10px 15px 10px 15px;
  margin: 8px; }

/* line 137, input/navigation.scss */
.count_basin_button {
  background-color: white;
  color: #7aff9f;
  border-color: #7aff9f; }

/* line 145, input/navigation.scss */
.basin_button_active {
  color: white;
  background-color: #7aff9f;
  border-color: #7aff9f; }

/* line 155, input/navigation.scss */
.performer_pick_button {
  color: #c12fdd;
  background-color: white;
  border-color: #c12fdd; }

/* line 162, input/navigation.scss */
.performer_pick_button_active {
  color: white;
  background-color: #c12fdd;
  border-color: #c12fdd; }

/* line 58, input/cubes.scss */
section#cubes {
  background-color: white; }
  /* line 61, input/cubes.scss */
  section#cubes section.cubes_row {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    padding-bottom: 70px; }
    /* line 20, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
    section#cubes section.cubes_row::after {
      clear: both;
      content: "";
      display: table; }
/* line 68, input/cubes.scss */
section .active_cubes_date {
  height: 60px;
  width: 100%;
  background-color: #e8f1f4;
  background-image: -webkit-linear-gradient(#e8f1f4, white);
  background-image: linear-gradient(#e8f1f4, white);
  display: table; }
  /* line 75, input/cubes.scss */
  section .active_cubes_date h1 {
    font-family: "Arvo", serif;
    font-size: 2em;
    color: #858c97;
    vertical-align: middle;
    text-align: center; }
/* line 87, input/cubes.scss */
section .cubes_Fri {
  background: #c6fdff; }
  @media screen and (min-width: 601px) {
    /* line 87, input/cubes.scss */
    section .cubes_Fri {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      height: 800px; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Fri:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 600px) {
    /* line 87, input/cubes.scss */
    section .cubes_Fri {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      height: 100%; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Fri:last-child {
        margin-right: 0; } }
/* line 91, input/cubes.scss */
section .cubes_Fri_last {
  background: #c6fdff;
  margin-right: 0; }
  @media screen and (min-width: 601px) {
    /* line 91, input/cubes.scss */
    section .cubes_Fri_last {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      height: 800px; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Fri_last:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 600px) {
    /* line 91, input/cubes.scss */
    section .cubes_Fri_last {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      height: 100%; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Fri_last:last-child {
        margin-right: 0; } }
/* line 96, input/cubes.scss */
section .cubes_Sat {
  background: #c6fdff; }
  @media screen and (min-width: 601px) {
    /* line 96, input/cubes.scss */
    section .cubes_Sat {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%;
      height: 910px; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Sat:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 600px) {
    /* line 96, input/cubes.scss */
    section .cubes_Sat {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      height: 100%; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Sat:last-child {
        margin-right: 0; } }
/* line 100, input/cubes.scss */
section .cubes_Sat_last {
  background: #c6fdff; }
  @media screen and (min-width: 601px) {
    /* line 100, input/cubes.scss */
    section .cubes_Sat_last {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%;
      height: 910px; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Sat_last:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 600px) {
    /* line 100, input/cubes.scss */
    section .cubes_Sat_last {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      height: 100%; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      section .cubes_Sat_last:last-child {
        margin-right: 0; } }
/* line 105, input/cubes.scss */
section .band_box {
  height: 100px;
  width: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  background-color: #7BCAE8;
  background-image: -webkit-linear-gradient(#7BCAE8, #50b9e0);
  background-image: linear-gradient(#7BCAE8, #50b9e0); }
  @media screen and (max-width: 600px) {
    /* line 105, input/cubes.scss */
    section .band_box {
      height: 80px; } }
  /* line 108, input/cubes.scss */
  section .band_box a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    text-decoration: none; }
/* line 119, input/cubes.scss */
section .band_box_basin_pick {
  height: 100px;
  width: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  background-color: #adffc4;
  background-image: -webkit-linear-gradient(#adffc4, #7aff9f);
  background-image: linear-gradient(#adffc4, #7aff9f);
  /*
  			background-repeat: no-repeat, repeat;
  			background-position: 95% 10%, 0 0;
  			background-size: 50px, auto;
  */ }
  @media screen and (max-width: 600px) {
    /* line 119, input/cubes.scss */
    section .band_box_basin_pick {
      height: 80px; } }
/* line 129, input/cubes.scss */
section .band_box_performer_pick {
  height: 100px;
  width: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  background-color: #ce5be4;
  background-image: -webkit-linear-gradient(#ce5be4, #c12fdd);
  background-image: linear-gradient(#ce5be4, #c12fdd); }
  @media screen and (max-width: 600px) {
    /* line 129, input/cubes.scss */
    section .band_box_performer_pick {
      height: 80px; } }
/* line 134, input/cubes.scss */
section .text {
  display: table-cell;
  vertical-align: middle; }
/* line 139, input/cubes.scss */
section h3 {
  font-size: 1.1em;
  text-align: center;
  line-height: .5em;
  font-family: "Arvo", serif;
  font-weight: 700; }
/* line 147, input/cubes.scss */
section h1 {
  font-size: 2em;
  line-height: 1.1em;
  font-family: "Oswald", sans-serif;
  position: relative;
  bottom: .2em; }
  /* line 154, input/cubes.scss */
  section h1 .small {
    font-size: 1em; }
  @media screen and (max-width: 600px) {
    /* line 147, input/cubes.scss */
    section h1 {
      font-size: 1.6em; } }

/* line 163, input/cubes.scss */
.band_box_kids {
  height: 100px;
  width: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  background-color: #7BCAE8;
  background-image: -webkit-linear-gradient(#7BCAE8, #50b9e0);
  background-image: linear-gradient(#7BCAE8, #50b9e0);
  height: 70px; }
  @media screen and (max-width: 600px) {
    /* line 163, input/cubes.scss */
    .band_box_kids {
      height: 80px; } }
  /* line 167, input/cubes.scss */
  .band_box_kids a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    text-decoration: none; }
    /* line 176, input/cubes.scss */
    .band_box_kids a h1 {
      font-size: 3em;
      line-height: 1em;
      font-family: "Oswald", sans-serif;
      position: relative;
      bottom: .2em; }
  /* line 185, input/cubes.scss */
  .band_box_kids h3 {
    line-height: .2em;
    position: relative;
    top: .2em; }
    @media screen and (max-width: 600px) {
      /* line 185, input/cubes.scss */
      .band_box_kids h3 {
        top: .3em; } }

/* line 203, input/cubes.scss */
.full_cube {
  display: none; }

/* line 212, input/cubes.scss */
.band_name_box {
  float: left;
  width: 80%;
  background: gray; }

/* line 218, input/cubes.scss */
.icon_box {
  float: right;
  width: 20%;
  height: 90%; }

/* line 224, input/cubes.scss */
.g_box {
  content: url(/img/G.svg); }

/* line 228, input/cubes.scss */
.pick_box {
  content: url(/img/check.svg);
  width: 100%; }

/* line 236, input/cubes.scss */
h1.stage_name {
  font-family: "Arvo", serif;
  font: 400;
  color: #50b9e0;
  text-align: center; }

/* line 243, input/cubes.scss */
h2 {
  line-height: 1.1em;
  font-family: "Oswald", sans-serif; }
  @media screen and (min-width: 601px) {
    /* line 243, input/cubes.scss */
    h2 {
      font-size: 1.4em;
      line-height: 1.2em;
      position: relative;
      bottom: 5 em; } }
  @media screen and (max-width: 600px) {
    /* line 243, input/cubes.scss */
    h2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      height: 100%;
      font-size: 1.6em;
      position: relative;
      bottom: .2em; }
      /* line 89, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/neat/grid/_span-columns.scss */
      h2:last-child {
        margin-right: 0; } }

/* line 1, input/more.scss */
#more_box {
  display: block;
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: 300;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3); }
  /* line 11, input/more.scss */
  #more_box h1 {
    display: block;
    font-family: "Arvo", serif;
    font-size: 1.3em;
    color: black;
    margin: 0;
    text-align: center;
    padding: 10px; }
    @media screen and (max-width: 600px) {
      /* line 11, input/more.scss */
      #more_box h1 {
        padding: 3%; } }

/* line 31, input/more.scss */
#more_box {
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: 300;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 600px) {
    /* line 31, input/more.scss */
    #more_box {
      visibility: visible; } }
  @media screen and (min-width: 601px) {
    /* line 31, input/more.scss */
    #more_box {
      visibility: hidden; } }
  @media screen and (min-width: 950px) {
    /* line 31, input/more.scss */
    #more_box {
      visibility: hidden; } }
  /* line 50, input/more.scss */
  #more_box h1 {
    display: block;
    font-family: "Arvo", serif;
    font-size: 1.3em;
    color: black;
    margin: 0;
    text-align: center;
    padding: 10px; }
    @media screen and (max-width: 600px) {
      /* line 50, input/more.scss */
      #more_box h1 {
        padding: 3%; } }

/* line 70, input/more.scss */
#more_box_2 {
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: 301;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 600px) {
    /* line 70, input/more.scss */
    #more_box_2 {
      visibility: hidden; } }
  @media screen and (min-width: 601px) {
    /* line 70, input/more.scss */
    #more_box_2 {
      visibility: visible; } }
  @media screen and (min-width: 950px) {
    /* line 70, input/more.scss */
    #more_box_2 {
      visibility: visible; } }
  /* line 89, input/more.scss */
  #more_box_2 h1 {
    display: block;
    font-family: "Arvo", serif;
    font-size: 1.3em;
    color: black;
    margin: 0;
    text-align: center;
    padding: 10px; }
    @media screen and (max-width: 600px) {
      /* line 89, input/more.scss */
      #more_box_2 h1 {
        padding: 3%; } }

/* line 11, input/primary.scss */
body {
  margin-top: 180; }

/* line 16, input/primary.scss */
section.non_header_elements {
  position: relative;
  margin-top: 180px;
  background-color: white;
  z-index: 1; }

/*# sourceMappingURL=primary.css.map */
